@media (max-width:569px){
    .text-box{
  flex-direction: column;
  text-align: center;
  margin-bottom: 60px;
    }
    .big-desc{
      display: none;
    }
    .sml-desc{
      display: block;
    }
    .big-btn{
      display: none;
    }
    .sml-btn{
      display: b;
    }
  }


.web3{
  -webkit-text-stroke: 1px black;
}